*{
    margin: 0;
    padding: 0;
}
nav{
    /* width: 100vw; */
    height: 80px;
    color: #ffffff;
    background-color: #658161;
    align-items: center;
    /* text-align: center; */
    display: flex;
    justify-content: space-around;
    padding: 0px 50px;
    flex-direction: row;

   
}
nav ul{
    display: flex;  
    gap: 30px;
}

nav ul li a{ 
    padding: 10px 20px;
    text-decoration: none;
    color:#ffffff;
}
.head{
    
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    height: 100px;
    margin-top: 4px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo img{
    width: 23%;
    align-items: center;
    padding-top: 1px;
    padding-left: 20%;
}
.head ul
{
    display: flex;
    gap: 30px;
}
.head ul li a{
    text-decoration: none;
    
}
.main{
   
    width: 100%;
    height: 832px;
    
}
.img{
    /* background: #000; */
    background-image: url(./img/img-1.jpg); 
     background-size: cover;
     background-blend-mode: darken;
     background-repeat: no-repeat;
     height: 100%;
}